@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.social-buttons {
    display: inline-block;
    background: none;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 10px;
}

.social-margin {
    margin-right: 15px;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.social-icon {
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
}

.social-icon:hover {
    transform: rotate(360deg)scale(1.3);
}

.github {
    font-size: 22px;
    padding-top: 9px;
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;

}

.github:hover {
    background-color: #ffffff;
    color: #000000;
}

.linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;
}

.linkedin :hover {
    background-color: #ffffff;
    color: #0976b4;
}