@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Ubuntu&display=swap');

/* :root {
  --primary-app-color: #02203c;
  --secondary-app-color: #001528;
} */

* {
  place-items: center;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif;
}

#dark {
  background-color: #1c1c1c;
  /* height: 'auto'; */
}

#light{
  background-color: #fffafa;
  /* height: 810px; */
}

.toggle {
	cursor: pointer;
	display: inline-block;
}
.toggle-switch {
	display: inline-block;
	background: #bf0741d2;
	border-radius: 16px;
	width: 58px;
	height: 32px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
	&:before,
	&:after {
		content: "";
	}
	&:before {
		display: block;
		background: linear-gradient(to bottom, #fff 0%,#eee 100%);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
		width: 24px;
		height: 24px;
		position: absolute;
		top: 4px;
		left: 4px;
		transition: left 0.25s;
	}
	.toggle:hover &:before {
		background: linear-gradient(to bottom, #fff 0%,#fff 100%);
		box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
	}
	.toggle-checkbox:checked + & {
		background: #1A1A1C;
		&:before {
			left: 30px;
		}
	}
}
.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}
.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 2px;
  display: none;
}
.switch {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 25px;
  float: right;
  margin-right: 30px;
}
.herosection {
  background-color: #EAE7DC;
  clip-path: polygon(0 0, 100% 0, 100% 74%, 50% 100%, 0 76%);
}

.px-10 {
  padding-inline: 50px;
}

@media (max-width: 786px) {
  .bars {
    height: 4px;
    width: 40px;
    background: #001528;
    float: right;
    z-index: 33;
    transform: translate(20px);
  }

  .bars::before {
    display: block;
    position: relative;
    bottom: 12px;
    content: "";
    color: #001528;
    width: 40px;
    height: 4px;
    background: #001528;
  }

  .bars::after {
    display: block;
    position: relative;
    top: 8px;
    content: "";
    color: #001528;
    width: 40px;
    height: 4px;
    background: #001528;
  }
}

@media (max-width: 500px) {
  .switch{
    padding-left: 50px;
  }
}

@media (max-width:350px){
  .switch{
    padding-left: 60px;
  }
}
/* 
@media (max-width: 290px){
  .switch{
    padding-left: 80px;
  }
} */