@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Ubuntu&display=swap');

:root {
  --primary-app-color: #02203c;
  --secondary-app-color: #001528;
}

* {
  place-items: center;

}

.App {
  margin-top: 40px;
}

.herosection {
  /* background: linear-gradient(-90deg,
      var(--primary-app-color),
      var(--secondary-app-color)); */
  /* background: linear-gradient(-90deg,
      #ed7966,
      #f5cac2); */
  background-color: #EAE7DC;
  clip-path: polygon(0 0, 100% 0, 100% 74%, 50% 100%, 0 76%);
}

.px-10 {
  padding-inline: 50px;
  /* 90px */
}

@media (max-width: 786px) {
  .bars {
    height: 4px;
    width: 40px;
    background: #001528;
    float: right;
    z-index: 33;
    transform: translate(20px);
  }

  .bars::before {
    display: block;
    position: relative;
    bottom: 12px;
    content: "";
    color: #001528;
    width: 40px;
    height: 4px;
    background: #001528;
  }

  .bars::after {
    display: block;
    position: relative;
    top: 8px;
    content: "";
    color: #001528;
    width: 40px;
    height: 4px;
    background: #001528;
  }
}